html {
  box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.42;
    color: #222;
}
html, body {
    height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}